$breakpoints: (
  "phone-down": 500px,
  "tablet-up": 768px,
  "tablet-down": 900px,
  "desktop-up": 1024px,
  "desktop-down": 1280px,
  "widescreen-up": 1440px
);



@mixin media-min($_key) {
    @media screen
      and (min-width: map-get($breakpoints, $_key)) {
      &{ @content; }
    }
}

@mixin hoverShadow() {
    box-shadow: 0px 10px 13px -7px $myShadow, 0px 5px 10px 0px $myShadow;
}

$myBlack:#191716;
$myShadow:rgba(25,23,22,0.5);
$myRed: #C20114;
$myRedBord: #55050c;
$myYellow: #FFCB1F;
$myYellowBord: #8f7412;
$myBlue: #00A7E1;
$myBg: white;

@media (prefers-color-scheme: dark) {

    $myBlack: white;
    $myShadow:rgb(255, 255, 255);
    $myRed: #C20114;
    $myRedBord: #55050c;
    $myYellow: #FFCB1F;
    $myYellowBord: #8f7412;
    $myBlue: #077499;
    $myBg: #1917168f;
    body {
        background-color: $myBg;
    }
  }
  
  @media (prefers-color-scheme: light) {
    $myBlack:#191716;
    $myShadow:rgba(25,23,22,0.5);
    $myRed: #C20114;
    $myRedBord: #55050c;
    $myYellow: #FFCB1F;
    $myYellowBord: #8f7412;
    $myBlue: #00A7E1;
    $myBg: white;
  }

body {
    margin: 0;
    font-family: 'helvetica';
    height: 100vh;
    box-sizing: border-box;
}
.nav {
    &-wrapper {
        width: 100vw;
        height: 15vh;
        background-color: $myBlue;
        margin: 0;
        @include media-min("phone-down") {
            height: 17vh;
        }
    }
    &-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
    &-item {
        box-sizing: content-box;
        background-color: $myBg;
        border: 5px solid $myRed;
        border-radius: 2rem;
        padding: 0 2rem;
        color: $myRed;
        text-transform: uppercase;
        font-size: 3rem;
        text-decoration: none;
        @include media-min("phone-down") {
            font-size: 2.5rem;
        }
    }
}

.main {
    &-wrapper {
        position: relative;
    }
    &-container {
        border-radius: 30px;
        height: 80vh;
        width: 80%;
        margin: 1rem auto;
        box-shadow: 0px 5px 10px 0px $myShadow;

        @include media-min("phone-down") {
            height: 100%;
            padding: .5rem;
        }
    }
}

.login-form {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    &--item {
        align-self: center;
        padding: .5rem;
        width: 80%;
        margin: 3rem auto;
        display: flex;
        flex-direction: column;
        text-align: center;
        background-color: $myBlue;
        transition: box-shadow 350ms ease-in;
        @include media-min("phone-down") {
            margin: .5rem auto;
        }
    }
    &--item:hover {
        @include hoverShadow()
    }
    &--button {
        margin: 1rem auto;
        padding: .8rem 2rem;
        border: solid 1px $myRed;
        color: $myRed;
        border-radius: 10px;
        background-color: $myBg;
        font-size: 4rem;
        text-transform: uppercase;
        transition: box-shadow 350ms ease-in;
        @include media-min("phone-down") {
            font-size: 2rem;
            margin: 0 auto;
        }
    }

    &--button:hover {
        @include hoverShadow();
        cursor:pointer;
    }

    &--title {
        margin-left: .5rem;
        font-size: 2rem;
    }

    &--input {
        font-size: 1.5rem;
    }
}

.players {
    font-size: 1.5rem;
    text-transform: uppercase;
    padding: .5rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.50);
    background: #FFFFFF;
    background: -moz-linear-gradient(top, #FFFFFF 0%, #FFFFFF 50%, #C5C5C5 100%);
    background: -webkit-linear-gradient(top, #FFFFFF 0%, #FFFFFF 50%, #C5C5C5 100%);
    background: linear-gradient(to bottom, #FFFFFF 0%, #FFFFFF 50%, #C5C5C5 100%);
    &-container {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &-red {
        color: $myRed;
    }
    &-yellow {
        color: $myYellow;
    }
}

.vs {
    font-size: 2rem;
    font-weight: bold;
    margin: 0 .5rem;
    font-style: italic;
}


.wrapper {
    display: block;
}

.card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    margin: 0 auto;
    
}

.jeton {
    align-self: center;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: solid 2px $myBlack;
    &--red {
        background-color: $myRed;
    }
    &--yellow {
        background-color: $myYellow;
    }
}

.game {

    &-container {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &-aera {
        position:relative;
        width: 90vw;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0 auto;
        @include media-min("phone-down") {
            width: 80vw;
        }
        @include media-min("tablet-down") {
            width: 70vw;
            }
        @include media-min("tablet-up") {
            width: 60vw;
            }
        @include media-min("desktop-down") {
            width: 50vw;
            }

        &-decoration {
            border-radius: 20px;
            background-color: $myBlue;
            width: 100%;
            height: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
    }

    &-zone {
        position: absolute;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        height: 99%;
        &-item {
            height: 100%;
            z-index: 1;
            width: calc(1/8* 100%);
            text-align: center;
            border-radius: 10px;
        }
    }

    &-cell {
        background-color: $myBlue;
        border: 1px solid $myBlue;
        align-self: center;
        width: calc(1/8* 100%);
        position: relative;
    }
    &-jeton {
        background-color: $myShadow;
        box-sizing: border-box;
        border-radius: 50%;
        margin: 5px auto;
        width: 2rem;
        height: 2rem;
        @include media-min("phone-down") {
            width: 2.5rem;
            height: 2.5rem;
            }
        @include media-min("tablet-down") {
            width: 3.5rem;
            height: 3.5rem;
            }
        @include media-min("tablet-up") {
            width: 3rem;
            height: 3rem;
            }
        @include media-min("desktop-down") {
            width: 4.5rem;
            height: 4.5rem;
            }
    }
}

.red {
    border: dashed $myRedBord 2px;
    background-color: $myRed;
}

.yellow {
    border: dashed $myYellowBord 2px;
    background-color: $myYellow;

}

.separator {
    margin-bottom: 1rem;
}

.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    display: contents;
    &-content {
        background-color: #fefefe;
        margin: 0 auto;
        z-index: 2;
        padding: 15px;
        width: 80%;
        position:absolute;
        top:-400px;
        animation: drop 2s ease forwards;
        animation-iteration-count:1;
        box-shadow: 0px 5px 10px 0px $myShadow;
        border-radius: 30px;
        
        &-message{
            font-size: 1.5rem;
            text-align: center;
            text-transform: uppercase;
            font-weight: bold;
        }
        
        &-btn {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
        }
    }
}
.btn {
    padding: .5rem;
    text-align: center;
    font-size: 1rem;
    text-transform: uppercase;

  }
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  @keyframes drop{
    0%{opacity: 0}
    70%{transform: translateY(550px)}
    100%{transform: translateY(500px)}
  }

